#particles-js{
background: #444;
  background-image: url(imagenes/unad.jpg); */no me esta sirviendo esta linea*/
  /*background-position: center;
  background-attachment: contain;
  background-size: cover;*/

}
