*{
  margin: 0;
  padding: 0;
}

header{
  width: 100%;
  background: #2f65b7;
  height: 80%;
}

.ancho{
  width: 80%;
  height: 70px;
/*  background: red;*/
  margin: auto;
}

.logo{
  width: 30%;
  height: 70px;
/*  background: blue;*/
  float: left;
  padding-top: 10px;
  box-sizing: border-box;

}
.logo p a{
  color: #fff;
  font-size: 40px;
  text-decoration: none;
  font-weight: bold;
  font-family: rale;
}
nav{
  width: 70%;
  height: 70px;
/*  background: olive;*/
  float: left;
  text-align: right;
  padding-top: 24px;
  box-sizing: border-box;
}
nav ul li{
  display: inline;
}
nav ul li a{
  color: #fff;
  font-size: 13px;
  text-decoration: none;
  text-transform: uppercase;
  padding-left: 15px;
  font-weight: bold;
  letter-spacing: 1px;
  font-family: rale;
}
nav ul li a:hover{
  color: #444;
}
@@font-face {
  font-family: rale;
  src: url(fuentes/Raleway-Regular.ttf);
}

/*section{
  width: 70%;
  height: 70px;
  background: red;
  float: left;

}
aside{
  width: 28%;
  height: 70px;
  background: gray;
  float: left;
  margin-left: 2%;
}
footer{
  width: 100%;
  height: 30px;
  background: maroon;
  float: left;
  margin-top: 20px;
}
*/
